body {
    background-color: white;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
}

h1 {
    color: darkred;
    font-size: 2.5em; /* Adjust size as needed */
    margin-bottom: 20px;
}

img {
    max-width: 300px; /* Adjust size as needed */
    margin-bottom: 20px;
}

audio {
    width: 300px; /* Adjust size as needed */
}
